:root {
    --primary-color: blueviolet;
    --secondary-color: black;
    --button-width: 200px;
    --button-height: 50px;
    --border-radius: 20px;
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: 50px;
  }
  
  .contador {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 10px;
    border-radius: var(--border-radius);
  }
  
  .contador svg {
    margin-right: 10px;
  }
  
  button{
    background-color: black;
    color: blueviolet;
    text-align: center;
    width: 200px;
    height: 25px;
    border-radius: 20px;
    border: none;
    transition: background-color 0.8s ease-in-out, color 0.8s ease-in-out;
    line-height: 1;
    letter-spacing: 10px;
    font-family: monospace;
    font-size: medium;
}

button:hover{
    background-color: blueviolet;
    color: black;
}